*.pyd
*.pyc
*.c
*.so
*.sh
*.xcf
*.swp
*.wpr
*.patch
*.lprof
*.idea_wall
*.html
*.prof
*.zip
*_simple_*
*.dll
*.wpu

.stats/*
.idea/*
art/txt/*
build/*
tests/*
dist/*
data/maps*
docs/devjournal.md
docs/shortlist.md
docs/talks/*

profile.dat
profile.txt
diffout.txt
data/text/wikiscrape.py
